.content {
  width: 100%;
  background-color: white;
  height:fit-content;
  margin-top: 250px;
  position: absolute;
  border-radius: 10px;
}
.container{
display: flex;
flex-direction: column;
}
.background_image{
width:100%;
position:absolute;
left: 0px;
}
.head_box{
display: flex;
flex-direction:row;
width:100%;
position:absolute;
background-color: white;
border-radius: 10px;
margin-top: 0px;
height: 120px;
}
.headimg{
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: -10px;
}

.avatar{
margin-left: 20px;
margin-top: 10px;
border: none;
width: 250px;

}
/*.avatar::after{
border: none;
}*/
.name_input{
 margin-top: 30px
}
.message{
height: 60px;
width: 500px;
line-height: 60px;
font-size:30px;
margin-top:30px;
margin-right: 20px;
border-radius: 10px;
}
.interaction{
  background:rgb(221, 221, 221);
display: flex;
flex-direction: column;
margin-left: 0px;
margin-right: 0px;
border: gray;
border: 3px solid black;
border-radius: 40px;
height:fit-content;
transform: translateY(170px);
margin-top: 0px;
margin-bottom: 30px;
}
.title_interaction{
margin-left: 30px;
margin-top: 12px;
}

.feeding{
font-size: 55px;
margin-left: 50px;
}
.ci1{
margin-top: 30px;
}
.check{
font-size: 55px;
margin-left: 175px;
}
.ci2{
margin-left: -35px;
margin-top: 30px;
}

.times_feeding{
font-size: small;
margin-left: 60px;
}

.times{
  margin-bottom: 30px;
}
.times_check{
font-size: small;
margin-left: 110px;

}

.post{
border-top: 1px solid black;
margin-top: 260px;
}
.headimagepost{
  margin-top: 10px;
  margin-left: 20px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
 .item{
margin-top: -40px;
margin-left: 70px;
}
.image_post{
width:80%;
} 
.name_input_post{
margin-left: 75px;
transform: translateY(-50px);
} 